{% extends "base.html" %}
{% block content %}

<h2>Edit Post</h2>
<form method="post">
	<label>
		<div>Subject</div>
		<input type="text" name="subject" value="{{post.subject}}">
	</label>
	<label>
		<div>Content</div>
		<textarea name="content">{{post.content}}</textarea>
	</label>

	<div class="error">{{error}}</div>

	<input type="submit" name="update" value="Update">
	<input type="submit" name="delete" value="Delete">
</form>
	<br>
	<a href="/blog/{{post.key().id()}}"><button>Cancel</button></a>
{% endblock %}