<div class="post">
	<div class="post-heading">
		<div class="post-title">
			<a href="/blog/{{p.key().id()}}"> {{p.subject}}</a>
		</div>

		<div class="post-date">
			{{p.created.strftime("%b %d, %Y")}}
		</div>
		<div class="post-by">
			{{p.author}}
		</div>
		<div>
			{{p.like_count}}
		</div>
		<div>{{p.user_like}}</div>
	</div>

	<div class="post-content">
		{{p._render_text | safe}}
	</div>
	<div>
		<a href="/blog/editpost/{{p.key().id()}}">Modify </a>
	</div>
	<div>
		<a href="/blog/commentpost/{{p.key().id()}}">Add Comment</a>
	</div>
	<div>
		<form method="post">
			<input type="submit" name="like-button" value="Like" id="{{p.key().id()}}">
		</form>
	</div>

</div>